[submodule "StreamComponent"]
	path = StreamComponent
	url = https://github.com/Fozruk/StreamComponent
	
[submodule "streamchecker"]
	path = Streamchecker
	url = https://github.com/EpileptiCz/streamchecker

