StreamComponent/*
.gradle/*
.idea/*
build/*
logs/*
/build/

.settings/gradle/org.springsource.ide.eclipse.gradle.core.import.prefs
.settings/gradle/org.springsource.ide.eclipse.gradle.core.prefs
.settings/gradle/org.springsource.ide.eclipse.gradle.refresh.prefs
hs_err_pid11387.log
hs_err_pid16801.log
hs_err_pid22167.log
hs_err_pid27143.log
hs_err_pid27243.log
hs_err_pid27777.log
hs_err_pid28962.log
hs_err_pid31463.log
hs_err_pid31677.log
hs_err_pid3446.log
hs_err_pid3670.log
hs_err_pid3884.log
hs_err_pid4146.log
hs_err_pid5767.log
hs_err_pid6344.log
hs_err_pid7416.log
hs_err_pid8560.log
hs_err_pid8914.log
TestJavaFX.userlibraries
src/main/java/com/github/fozruk/streamcheckerguitest/.gradle/
