.root {
    -fx-font-family: "System";
    -fx-font-size: 13.0px;
    -fx-base: #2D2D2D;
    -fx-background: #484848;
    -fx-focus-color: #005779;
    -fx-control-inner-background: #555555;
    -fx-inner-border: linear-gradient(to bottom, derive(-fx-color,35.0%) 0%, derive(-fx-color,-6.0%) 100%);
    -fx-body-color: linear-gradient( to bottom, derive(-fx-color, 35.0%) 0%, derive(-fx-color, -6.0%) 100%);
    -fx-shadow-highlight-color: derive(-fx-background,-7.118644067796609%);
}
.button, .toggle-button, .choice-box {
    -fx-background-radius: 4, 4, 3, 2;
    -fx-padding: 4px 11px 4px 11px;
}
.menu-button {
    -fx-background-radius: 4, 4, 3, 2;
}
.menu-button .label {
    -fx-padding: 4px 19px 4px 11px;
}
.menu-button .arrow-button {
    -fx-padding: 4px 7px 4px 0px;
}
.choice-box {
    -fx-padding: 0 7px 0 0;
}
.choice-box .label {
    -fx-padding: 4px 5px 4px 7px;
}
.choice-box .open-button {
    -fx-padding: 1 0 0 9px;
}
.combo-box-base:editable .text-field, .combo-box-base .arrow-button, .combo-box .list-cell {
    -fx-padding: 4px 7px 4px 7px;
}
.check-box .box {
    -fx-padding: 0.25em;
}
.radio-button .radio {
    -fx-padding: 0.333333em;
}
.label, .check-box, .radio-button {
    -fx-text-fill: -fx-text-background-color;
}
.button, .toggle-button, .check-box .box, .radio-button .radio, .choice-box, .menu-button, .tab, .combo-box-base {
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
}
.button:focused, .toggle-button:focused, .check-box:focused .box, .radio-button:focused .radio, .choice-box:focused, .menu-button:focused, .combo-box-base:focused {
    -fx-background-insets: -1.4, 0, 1, 2;
}
.combo-box-base .arrow-button {
    -fx-background-insets: 0, 1, 2;
}
.choice-box .label { /* Workaround for RT-20015 */
    -fx-text-fill: -fx-text-base-color;
}
.menu-button .label { /* Workaround for RT-20015 */
    -fx-text-fill: -fx-text-base-color;
}

.list-cell:filled:hover {
    -fx-background-color: #333333;
    -fx-text-fill: white;
}

.labelOnline {
    -fx-color:green;
}

.labelOffline {
    -fx-color:red;
}
